@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
* {
    margin: 0; 
    padding: 0;
    box-sizing : border-box;
    scroll-behavior: smooth;
}

::selection {
    background-color: crimson;
}



body {
    font-family: poppins;
    background-size: cover;
}

.logo {
    position: fixed;
    top: 20px;
    left: 20px;
    letter-spacing: 4px;
    text-transform: uppercase;
    font-weight: 700;
    color: white;
    font-size: 1.6em;
    transition: 0.5s;
}

.logo.active {
    opacity: 0;
}

.toggleMenu {
    width: 40px;
    height: 40px;
    position: fixed;
    top: 20px;
    right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 8px;
    cursor: pointer;
    transition: 0.5s;
    z-index: 5;
}

.toggleMenu.active {
    transform: rotate(360deg);
}

.toggleMenu span {
    display: block;    
    width: 100%;
    height: 5px;
    border-radius: 3px;
    background-color: white;
    transition: 0.5s;
}

.toggleMenu.active span:nth-child(1) {
    transform: translateY(13px) rotate(45deg);
}

.toggleMenu.active span:nth-child(2) {
    transform: scale(0);
}

.toggleMenu.active span:nth-child(3) {
    transform: translateY(-13px) rotate(-45deg);
}

#menu {
    width: 40%;
    height: 100%;
    position: fixed;
    z-index: 4;
    top: 0;
    right: -100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    background: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(12px);
    transition: 0.5s;
    background-color: black;
}

#menu.active {
    right: 0;
}

#menu li {
    list-style: none;
}

#menu li a {
    text-transform: uppercase;
    text-decoration: none;
    font-size: 1.4em;
    font-weight: 700;
    color: white;
    transition: 0.1s;
}

#menu li:hover a {
    letter-spacing: 2px;
    color: aliceblue;
}

.container {
    min-height: 100vh;
}

.container.home {
    background: url(hand-light-people-girl-woman-photography-1081678-pxhere.com.jpg);
    background-size: cover;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 50px;
    background-attachment: fixed;
}

.container.home .contentName {
    color: white;
}

.container.home .contentName span {
    font-size: 2.7em;
    font-weight: 600;
}

.container.home .contentName h2 {
    font-size: 5em;
    font-weight: 700;
}

.container.home .contentName i {
    font-size: 1.8em;
    font-weight: 400;
    display: block;
}

.container.home .contentName a {
    display: inline-block;
    padding: 5px 25px;
    text-decoration: none;
    color: white;
    font-weight: 700;
    background-color: rgb(15, 176, 240);
    transition: 0.5s;
}

.container.home .contentName a:hover {
    background-color: rgb(37, 15, 240);
}

.container.about {
    padding-top: 40px;
    min-height: 100vh;
    background-color: #121212;
}

.container.about h2 {
    color: white;
    display: block;
    margin: auto;
    text-align: center;
    font-size: 2em;
    margin-bottom: 20px;
}

.container.about .contentAbout {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 100px;
    gap: 50px;
}

.container.about .contentAbout .image {
    position: relative;
    width: 500px;
    height: 400px;
}

.container.about .contentAbout .image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.container.about .contentAbout .aboutText {
    color: white;
    text-align: justify;
    width: 500px;
}

.container.about .contentAbout .aboutText span {
    margin-bottom: 10px;
    display: block;
}

.container.about .contentAbout .aboutText p {
    margin-bottom: 20px;
    display: block;
} 

.container.skills {
    min-height: 100vh;
    padding-top: 40px;
    min-height: 100vh;
    background: linear-gradient(90deg, #0F3443 , #34E89E);
}

.container.skills h2 {
    position: relative;
    color: white;
    display: block;
    margin: auto;
    width: 150px;
    text-align: center;
    font-size: 2em;
    margin-bottom: 100px;
    padding-bottom: 5px;
}

.container.skills h2::before {
    content: '';
    width: 100%;
    height: 5px;
    background: linear-gradient(-90deg, #0F3443 , #34E89E);
    position: absolute;
    bottom: 0;
    left: 0;
    transform:skew(-35deg);
}

.container.skills h2::after {
    content: '';
    width: 20px;
    height: 10px;
    border: 2px solid white;
    /* background: linear-gradient(90deg, #0F3443 , #34E89E); */
    background: transparent;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , 110%);
}

.container.skills .listSkills {
    width: 700px;
    display: block;
    margin: auto;
}

.container.skills .listSkills li {
    width: 100%;
    list-style: none;
    margin-bottom: 15px;
}

.container.skills .listSkills li .nameSkills {
    color: white;
    font-weight: 600;
    font-size: 1.2em;
}

.container.skills .listSkills li div {
    width: 100%;
    height: 10px;
    background: rgba(255, 255, 255, 0.3);
    overflow: hidden;
    box-shadow: inset 0px 0px 1px #f6f6f6;
}

.container.skills .listSkills li div .barSkills {
    width: var(--i);
    height: 100%;
    background-color: #48dbfb;
    display: block;
    box-shadow: 7px 0px 1px #48dbfb;
}

.container.education {
    position: relative;
    padding-top: 40px;
    background-color: aliceblue;
}

.container.education .iconEdu {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.container.education .iconEdu ion-icon {
    font-size: 20em;
    color: rgba(0, 0, 0, 0.5);
}

.container.education h2 {
    position: relative;
    display: block;
    margin: auto;
    width: 200px;
    background-color: white;
    text-align: center;
    font-size: 2em;
    color: red;
    margin-bottom: 20px;
    font-weight: 700;
}

.container.education h2::before {
    content: 'Education';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    clip-path: polygon(0 0, 100% 0, 100% 50%, 0 50%);
    background-color:red;
    color: white;
}

.container.education .boxEdu {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 15px;
}

.container.education .boxEdu .cardEdu {
    padding: 15px 30px;
    width: 350px;
    height: 100px;
    background-color: #444;
    color: white;
    border-radius: 7px;
    text-align: center;
    box-shadow: 7px 7px 15px black;
    transition: 0.5s;
}

.container.education .boxEdu .cardEdu:hover {
    transform: translateY(-10px);
    background-color: #1e5bdf;
    box-shadow: 10px 10px 10px #1e5bdf;
}

.container.education .boxEdu .cardEdu h4,
.container.education .boxEdu .cardEdu span,
.container.education .boxEdu .cardEdu i {
    display: block;
}

.container.education .boxEdu .cardEdu span {
    font-weight: 700;
}

.container.education .boxEdu .cardEdu span {
    font-weight: 400;
}

.container.education .boxEdu .cardEdu i {
    color: crimson;
    font-weight: 600;
}

.container.training {
    position: relative;
    padding-top: 40px;
    background-color: #121212;
}

.container.training h2 {
    color: white;
    text-align: center;
    display: block;
    margin-bottom: 30px;
}

.container.training .iconTraining  {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.container.training .iconTraining ion-icon {
    font-size: 20em;
    color: rgba(255, 255, 255, 0.5);
}

.container.training ul {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
    gap: 15px;
}

.container.training ul li {
    list-style: none;
    display: block;
    margin: auto;
    width: 400px;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    border-radius: 7px;
    overflow: hidden;
    color: white;
    padding-bottom: 5px;
    box-shadow: 7px 7px 15px rgba(255, 255, 255, 0.2), 
    5px 5px 5px rgba(255, 255, 255, 0.2);
}

.container.training ul li h3 {
    text-align: center;
    position: relative;
    padding: 5px 0;
}

.container.training ul li span {
    text-align: center;
    display: block;
    font-weight: 600;
}

.container.training ul li i {
    text-align: center;
    display: block;
    font-weight: 500;
}

.container.contact {
    position: relative;
    padding-top: 20px;
    background: url(melinda-gimpel-5Ne6mMQtIdo-unsplash.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.container.contact h2 {
    position: relative;
    display: block;
    margin: auto;
    width: 200px;
    color: white;
    text-align: center;
    font-size: 2em;
    margin-bottom: 20px;
    font-weight: 700;
}

.container.contact .addres {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.container.contact .addres .boxAddres {
    width: 300px;
    background-color: #353b48;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
}

.container.contact .addres .boxAddres:hover {
    background-color: crimson;
}

.container.contact .addres .boxAddres .boxlis {
    text-align: center;
    color: white;
}

.container.contact .addres .boxAddres .boxlis ion-icon {
    font-size: 3em;
}

.container.contact .addres .boxAddres .boxlis h5 {
    font-size: 1.1em;
}

footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
    background-color: black;
    padding: 5px 0;
}










/* TABLET */
@media (max-width:768px) {
    #menu {
        width: 70%;
        height: 100%;
        position: fixed;
        z-index: 4;
        top: 0;
        right: -100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 10px;
        background: rgba(0, 0, 0, 0,5);
        backdrop-filter: blur(12px);
        transition: 0.5s;
        background-color: black;
    }

        #menu.active {
        right: 0;
    }

    #menu li {
        list-style: none;
    }

    #menu li a {
        text-transform: uppercase;
        text-decoration: none;
        font-size: 1.6em;
        font-weight: 600;
        color: white;
        transition: 0.1s;
    }

    #menu li:hover a {
        letter-spacing: 2px;
        color: aliceblue;
    }

    .container.home {
        background-position: center;
    }

    .container.home .contentName span {
        font-size: 2.3em;
        font-weight: 600;
    }
    
    .container.home .contentName h2 {
        font-size: 4em;
        font-weight: 700;
    }
    
    .container.home .contentName i {
        font-size: 1.4em;
        font-weight: 400;
        display: block;
    }
    
    .container.home .contentName a {
        display: inline-block;
        padding: 5px 25px;
        text-decoration: none;
        color: white;
        font-weight: 700;
        background-color: rgb(15, 176, 240);
        transition: 0.5s;
    }

    .container.about .contentAbout {
        flex-direction: column;
        padding: 0 20px;
    }

    .container.about .contentAbout .image {
        width: 350px;
    }

    .container.about .contentAbout .aboutText {
        width: 450px;
    }

    .container.skills .listSkills {
        width: 500px;
        padding: 0 25px;
    }

    .container.education .boxEdu {
        flex-direction: column;
    }

    .container.education .boxEdu .cardEdu:hover {
        transform: translateY(0px);
    }

    .container.contact .addres {
        flex-direction: column;
    }
}


/* Handphone */
@media (max-width:576px) {
    #menu {
        width: 100%;
        height: 100%;
        position: fixed;
        z-index: 4;
        top: 0;
        right: -100%;
        gap: 10px;
        background: rgba(0, 0, 0, 0,5);
        backdrop-filter: blur(12px);
        transition: 0.5s;
        background-color: black;
    }

    #menu.active {
        right: 0;
    }

    #menu li {
        list-style: none;
    }

    #menu li a {
        text-transform: uppercase;
        text-decoration: none;
        font-size: 2em;
        font-weight: 600;
        color: white;
        transition: 0.1s;
    }

    #menu li:hover a {
        letter-spacing: 2px;
        color: aliceblue;
    }

    .container.home .contentName span {
        font-size: 2.5em;
        font-weight: 600;
    }
    
    .container.home .contentName h2 {
        font-size: 3em;
        font-weight: 700;
    }
    
    .container.home .contentName i {
        font-size: 1.6em;
        font-weight: 400;
        display: block;
    }
    
    .container.home .contentName a {
        display: inline-block;
        padding: 5px 25px;
        text-decoration: none;
        color: white;
        font-weight: 700;
        background-color: rgb(15, 176, 240);
        transition: 0.5s;
    }

    .container.about .contentAbout .aboutText {
        padding: 0px 20px;
        width: 400px;
    }

        .container.skills .listSkills {
        width: 400px;
    }


}